.Xresources
.bash_history
.bash_logout
.bash_profile
.bashrc
.bin/
.cache/
.cargo/
.cat_installer/
.config/.gsd-keyboard.settings-ported
.config/GIMP/
.config/GitKraken/
.config/Hardcode-Tray/
.config/JetBrains/
.config/LyX/
.config/QtProject.conf
.config/cat_installer/
.config/clipit/
.config/dconf/
.config/deadd/
.config/discord/
.config/evolution/
.config/font-manager/
.config/fontconfig/
.config/google-chrome/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/inkscape/
.config/lxsession-default-apps/
.config/lxsession/
.config/mimeapps.list
.config/nemo/
.config/neofetch/
.config/pavucontrol.ini
.config/pulse/
.config/qBittorrent/
.config/qt5ct/
.config/rofi/
.config/screenkey.json
.config/systemd/
.config/totem/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vifm/
.config/vlc/
.config/volumeicon/
.config/xfce4/
.fontconfig/
.fonts/
.gitconfig
.gitkraken/
.gk/
.gnupg/
.gtkrc-2.0
.hplip/
.icons/
.java/
.lesshst
.local/
.lyx/
.m2/
.mozilla/
.my-color-scheme.css
.nuget/
.nv/
.nvidia-settings-rc
.oh-my-zsh/
.pki/
.polimi/
.pulse-cookie
.python_history
.remarkable/
.shell.pre-oh-my-zsh
.ssh/
.stack/
.steam/
.steampath
.steampid
.themes/
.vim/
.viminfo
.wget-hsts
.xsettingsd
.zcompdump
.zcompdump-luna-5.9
.zcompdump-luna-5.9.zwc
.zsh/git-prompt.zsh/
Downloads/
Git/
Pictures/
Storage/
Templates/
